doctype html
head
  meta(charset='utf-8')
  title Delicious Meal
h1 Delicious Meal
p This is the home page in PUG
p Welcome user #{un}
a(href='http://127.0.0.1:5000/login') Log in to your account
form(action='http://127.0.0.1:5000/logout' method='POST')
  input(type='submit' value='Logout')