doctype html
head
  meta(charset='utf-8')
  title Delicious Meal
  link(rel='stylesheet' href='http://127.0.0.1:5000/Frontend-files/myStyle.css')

h1 Delicious Meal
p This is the home page in PUG
if (li)
 p Welcome user #{un}
 form(action='http://127.0.0.1:5000/logout' method='POST')
  input(type='submit' value='Log Out')
else
 form(action='http://127.0.0.1:5000/login' method='GET')
  input(type='submit' value='Log In')
