doctype html
head
  script(src='https://kit.fontawesome.com/a076d05399.js')
  meta(charset='utf-8')
  title DeliciousMeal
  link(rel='stylesheet' href='s.css')
input#check(type='checkbox')
label(for='check')
  i#btn.fas.fa-bars
  i#cancel.fas.fa-times
.sidebar
  header Home
  ul
    li
      a(href='login.html') Login
    li
      a(href='home.html') Home
    li
      a(href='mealPlaning.html') Meal Planning
    li
      a(href='savedRecipes.html') Saved Recipies
    li
      a(href='initialsetup.html') Register
section
