doctype html
head
 meta(charset='utf-8')
 title Initial Setup
 link(rel='stylesheet' href='http://127.0.0.1:5000/Frontend-files/myStyle.css')

h3 Intial Setup
p This is the initial setup page for user #{un}
a(href='http://127.0.0.1:5000/home') Back to home
