doctype html
head
 meta(charset='utf-8')
 title #{un}'s Dashboard
 link(rel='stylesheet' href='http://127.0.0.1:5000/Frontend-files/myStyle.css')

h1 #{un}
p Welcome to your dashboard
a(href='http://127.0.0.1:5000/home') Back to home
br
a(href='http://127.0.0.1:5000/user/' + un + '/favorites') Your favorite recipes
