@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: serif;
  text-align: left;
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: url(bg.jpg) no-repeat;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: black;
  line-height: 70px;
  text-align: left;
  padding-left: 40px;
  background: url(bg.jpg) no-repeat;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 135vh;
  transition: all .5s;
}

#searchBar {
  position: relative;
  top: 10%;
  left: 35%;
}

#logOutButton {
    position: relative;
    top: 40px;
    left: 85px;
    height: 40px;
    width: 80px;
    font-size: 22px;
    text-align: center;
}

#searchLabel {
    position: relative;
    margin: auto;
    color: black;
}

#searchBox{
    width: 450px;
    /*height: 40px;
    right: 20px;*/
    margin: auto;
    font-size: 22px;
    border-radius: 15px;
    border-color: black;
    border: 1px solid;
}

#searchSubmit{
    /*position: relative;
    top: 50px;
    left: 100px;*/
    margin: auto;
}