*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: serif;
  }

  #sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #FBFCFC;
    left: -200px;
    transition: all 500ms linear;
  }
  #sidebar.active{
    left:0px;
  }
  #sidebar ul li{
    color: rgba(230,230,230,0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
  }
  #sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
  }
  #sidebar .toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 5px 0px;
  }
  .container.jumbotron {
    position:relative;
    z-index:2;
  }
  .jumbotron{
    opacity: 0.7;
    overflow: hidden;
  }

  body{
    background: url("bg.jpeg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .3s;
}
