$side-nav-width: 230px;

body, .canvas, .main-content{
  min-height: 100vh;
}
/*http://jsfiddle.net/tjog7sp2/5/*/
p{
  height: 80vh;
}
/*the overall container*/
.canvas{
  transition: .5s cubic-bezier(.91,.06,.47,1.05) transform;
}
/*show the nav if the class exists and toggle the icon*/
.canvas.show-nav{
  transform: translateX($side-nav-width);
  .fa-window-close{
    display: block;
  }
  .fa-bars{
    display:none;
  }
}

/*style the side navigation*/ 
.canvas .side-nav{
  position: absolute;
  display: block;
  width: $side-nav-width;
  transform: translateX(-$side-nav-width);
    
  color: #E6E9F7;
  background-color: #253781;
  padding-top: 20px;
  min-height: 100%;
  
  a{
    color: #EEE;
    display: block;
    padding: 5px 10px;
    font-size: 0.85em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
}
/*main content and toggle button*/ 
.main-content{
  padding: 50px;
}

.toggle-button{
  position: fixed;
  top: 10px;
  font-size: 2.5em;
  color: #333;
}
.fa-window-close{
  display:none;
  margin:12px 0px;
}